/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

textarea {
  flex: 1;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.share-button {
  background-color: #2196F3;
  color: white;
}

button.share-button:hover {
  background-color: #1e87db;
}

.shared-data {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.delete-button,
.copy-button {
  font-size: 14px;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #e53935;
}

.copy-button {
  background-color: #2196F3;
}

.copy-button:hover {
  background-color: #1e87db;
}

.copy-button,
.delete-button {
  color: white;
}

/* Responsive Styles for Mobile */
@media (max-width: 600px) {
  textarea {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .input-container {
    flex-direction: column;
  }
}
/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

h1 {
  color: #333;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

button {
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 100px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

a:hover {
  background: #0056b3;
}

